/.DS_Store
/.vscode
/CMakeLists copy.txt
/bootsectordump.h
/build
/launch-raspberrypi-swd.json
/main copy.c
/mydiskio.h
/myinteger.h
/mysdcardio.c
/mysdcardio.h
/settings.json
/try copy.pio
../../no-OS-FatFS
pico-sdk
tinyusb
tmp.*
junk.*
